.card-deck{
    padding-top: 100px;
}

.card{
    position: relative;
    margin-top: 50px;
    width: 500px;
    height: 300px;
    border: 1px ;
    padding: 10px;
    box-shadow: 5px 5px 5px 5px #A9A9A9;
}
.card:hover{
    box-shadow: 10px 10px 10px 10px #696969;
}
.card-title{
    text-align: center;
    text-transform: uppercase;
}
.card-img-top{
    height: 170px;
    width: auto;
    border-radius: 50%;
}